<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" ng-app="NetFloristApp">
    <head>
        <title>updateProduct</title>
        <script src="./js/angular.min.js"></script>
        <script type="text/javascript" src="./js/angular-route.min.js"></script>
	<script src="./js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
        <link rel="stylesheet" type="text/css" href="./css/style3.css" />
        <link rel="stylesheet" type="text/css" href="./css/menus.css" />
    </head>
    
        <body  ng-controller="ProductController">
           
            <div class="container" >
               <ul>
                    <li><a href="#home">Admin Panel {{users.fname}} {{users.lname}}</a></li>
                    <li><a href="./adminHomePage.html">Admin Home</a></li>
                    <li><a href="./addProduct.html">Add Product</a></li>
                    <li><a href="./addCategory.html">Add Category</a></li>
                    <li><a href="./registerAdmin.html">Add Administrator</a></li>
                    <li><a href="./viewOrders.html">View Orders</a></li>
                    <li><a href="./login.html">Log Out</a></li>
                </ul>
                
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <div id="wrapper">
                    <form name="updateProduct"> 
                       <img src="./css/net.jpg" style="width:150;height:50; " />
                            
                            <p> 
                               <label for="pCat" class="pCat"  > Product Category:</label>
                               <select name="pCat" id="pCat" ng-model="pid" ng-click="showData(pid)" >
                                   <option ng-repeat="product in products" value="{{product.pid}}">{{product.name}} </option>
                                </select>
                            </p>  
                         
                            
                            <p> 
                                <label for="pName" class="pName" >Product Name:</label>
                                <input id="pName" ng-model="prod.name" n name="pName" required="required" type="text"/>
                            </p>
                              
                            <p> 
                                <label for="pCat" class="pCat"  > Product Category:</label>
                                <input id="pCat" ng-model="prod.category" name="pCat" required="required" type="text" /> 
                            </p>
                                
                            <p> 
                                <label for="productPrice" class="yourPrice" >Product Price: </label>
                                <input id="productPrice" ng-model="prod.price" name="productPrice" required="required" type="text" />
                            </p>
     
                            <p class="signin button"> 
                                <input type="submit" ng-click="editProduct(prod.pid)" value="Update Product"/> 
                            </p>
   
                     </form>
               </div>  
          </div>
        </div>
    </body>
</html>
