<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" ng-app="NetFloristApp">
    <head>
        <title>Add-Category</title>
        <script src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/angular-route.min.js"></script>
	<script src="./js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
        <link rel="stylesheet" type="text/css" href="./css/style3.css" />
        <link rel="stylesheet" type="text/css" href="./css/menus.css" />
    </head>
    
        <body  ng-controller="CategoryController">
           
            <div class="container" >
               <ul>
                    <li><a href="#home">Admin Panel{{users.fname}} {{users.lname}}</a></li>
                    <li><a href="./adminHomePage.html">Admin Home</a></li>
                    <li><a href="./addProduct.html">Add Product</a></li>
                    <li><a href="./updateProduct.html">Update Product</a></li>
                    <li><a href="./registerAdmin.html">Add Administrator</a></li>
                    <li><a href="./viewOrders.html">View Orders</a></li>
                    <li><a href="./login.html">Log Out</a></li>
                </ul>
                
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <div id="wrapper">
                    <form name="addCat"> 
                        <img src="./css/net.jpg" style="width:150;height:50; " />
                        
                           
                                <p> 
                                    <label for="cName" class="pName" >Category Name:</label>
                                    <input id="cName" ng-model="name" name="cName" required="required" type="text" />
                                </p>
 
                                <p class="signin button"> 
                                    <input type="submit" ng-click="saveCategory()" value="Save Category"/> 
				</p>
                                
                                <p class="signin button"> 
                                    <input type="submit" ng-click="removeCategory()" value="Remove Category"/> 
				</p>
   
                     </form>
               </div>  
          </div>
        </div>
    </body>
</html>
