<!DOCTYPE html>

<html vlang="en-US" ng-app="NetFloristApp" >
    <head>
        <title>home</title>
        <script src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/angular-route.min.js"></script>
	<script src="./js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
        <link rel="stylesheet" type="text/css" href="./css/style3.css" />
         
    </head>
   
    <body>
        <div class="container">
            <div id="container_demo" >
                <a class="hiddenanchor" id="tohome"></a>
                <div id="wrapper">
                 
                    <form class="home" autocomplete="on"> 
                       
                        <img src="./css/net.jpg" style="width:150;height:50; " />
                         <div style="letter-spacing:4px;" > 
                            <a href="/register" >Sign-In</a>
                            <a href="/login">log-In</a>
                         </div>
                    </form> 
                </div>
            </div>   
      </div>
    </body>
</html>

