<!DOCTYPE html>

<html ng-app="NetFloristApp">
    <head>
        <title>View-Orders</title>
        <script src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/angular-route.min.js"></script>
	<script src="./js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
        <link rel="stylesheet" type="text/css" href="./css/menus.css" />
         <link rel="stylesheet" type="text/css" href="./css/tables.css" />

        <!-- <script>
        function myFunction() {
          // Declare variables 
          var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("tbl");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) 
          {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            } 
          
        };
 
    };
      
</script>-->
    </head>

    
    <body ng-controller="OrderController">
    
        <div >
  
            <ul>
               <li><a href="#home">Admin Panel{{users.fname}} {{users.lname}}</a></li>
                <li><a href="./adminHomePage.html">Add Home </a></li>
               <li><a href="./addProduct.html">Add Product</a></li>
               <li><a href="./updateProduct.html">Update Product</a></li>
               <li><a href="./addCategory.html">Add Category</a></li>
               <li><a href="./registerAdmin.html">Add Administrator</a></li>
               <li><a href="./login.html">Log Out</a></li>
            </ul>
            
           <input type="text" id="myInput" onkeyup="" placeholder="Search For Products.." style="width:80%;  padding: 12px 20px;  margin: 8px 0;box-sizing: border-box;}"/>
           <table id="tbl">
               <tr>
                  <th>Order Number</th>
                  <th>Order Image</th>
                  <th> Order Description</th>
                   <th>Order Status</th>
                   <th>Order Amount</th>
                   <th>Order Submitted Date</th>
                   <th>Order Delivery Date</th>
                   <th>Order Made By User:</th>
                   <td>Change Order Status</td>
                  
               </tr>

               <tr ng-repeat="order in orders" >
                    <td>{{order.orderno}}</td>
                    <td><span><img ng-src="{{order.image}}" width="100" height="50" alt=""/></span></td>
                    <td>{{order.name}}</td>
                   <td> {{order.orderstatus}}</td>
                   <td>R {{order.orderamount}}</td>
                   <td>{{order.orderdate}}</td>
                   <td>{{order.delivarydate}}</td>
                   <td>{{order.userID}}</td>
                   <td >      
                       <p> 
                            <label for="pCat" class="pCat"  > Update Order Status:</label>
                            <select name="pCat" id="pCat" ng-model="status">
                                <option ng-repeat="orderstatu in orderStatus" value="{{orderstatu.name}}">{{orderstatu.name}} </option>
                            </select>
                        </p>  
                   </td>
                   <td>
                       <input type="button" id="update" value="Update Order Status"  class="update" ng-click="updateOrderStatus(order.orderID,status)"/>
                       <input type="button" id="remove" value="Remove Order"  class="remove" ng-click="removeOrder(order.orderno)"/>
                    </td>
                </tr>
           </table>
        </div>
   </body>
</html>

    

